# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=centos
openshift_release=v1.5
openshift_version=1.5.1-1.el7

#GiffGaff variables

openshift_giffgaff_environment=vagrant
openshift_giffgaff_jenkins_install=false
openshift_giffgaff_vault_install=false
openshift_giffgaff_aqua_install=false
openshift_giffgaff_glusterfs_install=false
openshift_giffgaff_heketi_install=false
openshift_giffgaff_monitoring_install=false

# If ansible_ssh_user is not root, ansible_become must be set to true
ansible_become=true
openshift_cloudprovider_kind=aws
deployment_type=origin
openshift_deployment_type=origin
openshift_hosted_logging_deploy=true

#master vars
openshift_master_public_console_url="https://openshift.{{ master_instance_facts.instances[0].tags.Domain }}/console"
openshift_master_public_api_url="https://openshift.{{ master_instance_facts.instances[0].tags.Domain }}/"
openshift_master_default_subdomain=openshift.{{ master_instance_facts.instances[0].tags.Domain }}

# Debug level for all OpenShift components (Defaults to 2)  to log errors and warnings only
debug_level=0

#logging vars
openshift_hosted_logging_elasticsearch_cluster_size=1
openshift_logging_namespace=openshift-infra
openshift_logging_master_public_url="https://openshift.{{ master_instance_facts.instances[0].tags.Domain }}/"
openshift_clock_enabled=true
openshift_hosted_logging_deployer_prefix=docker.io/openshift/origin-
openshift_hosted_logging_deployer_version=v1.5.1

# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
#openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
openshift_master_identity_providers='[{"name": "giffgaffokta", "login": "true", "challenge": "false", "mappingMethod": "claim", "kind": "OpenIDIdentityProvider", "client_id": "0oa1cp0oabj5B0T5v0i7", "client_secret": "djDwmpgJiZ0u5wM9FcQgQnU5w2aROR-ngpXpC2_k", "extraScopes": ["email", "profile"], "claims": {"id": ["sub"], "preferredUsername": ["preferred_username"], "name": ["name"], "email": ["email"]}, "urls": {"authorize": "https://ggauth.okta-emea.com/oauth2/v1/authorize", "token": "https://ggauth.okta-emea.com/oauth2/v1/token", "userInfo": "https://ggauth.okta-emea.com/oauth2/v1/userinfo"} }]'

# host group for masters
[masters]
{% for instance in master_instance_facts.instances %}
{{ instance.tags.Name }}.{{ instance.tags.Domain }}
{% endfor %}

# host group for etcd
[etcd]
{% for instance in master_instance_facts.instances %}
{{ instance.tags.Name }}.{{ instance.tags.Domain }}
{% endfor %}

# host group for nodes, includes region info
[nodes]
{% for instance in master_instance_facts.instances %}
{{ instance.tags.Name }}.{{ instance.tags.Domain }} openshift_node_labels="{'region': 'infra', 'logging-infra-fluentd': 'true'}" openshift_schedulable=true
{% endfor %}
{% for instance in node_instance_facts.instances %}
{{ instance.tags.Name }}.{{ instance.tags.Domain }} openshift_node_labels="{'region': '{{instance.region}}', 'usedBy': 'jenkins', 'logging-infra-fluentd':'true', 'zone': '{{instance.placement.zone}}'}"
{% endfor %}
